
@keyframes shine {
    0% {
      background-position: -200% center;
    }
    100% {
      background-position: 200% center;
    }
  }













.whatsapp-button {
    /* Your existing styles */
    background-image: linear-gradient(
      to right,
      #3DDA3A 0%,
      #3DDA3A 40%,
      #FFFFFF 50%,
      #3DDA3A 60%,
      #3DDA3A 100%
    );
    background-size: 300% auto;
    animation: shine 5s linear infinite alternate;
  }
